
.header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    background: rgb(122, 122, 255);
    width: 100%;
}
  
.header-logo-div {
display: flex;
align-items: center;
}

.header-title {
padding: 0 20px;
}

.header-title h1 {
font-size: 2.25em;
}

@media screen and (min-width:1000px) {
    .header {
        flex-direction: row;
    }
}
  