#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  background: rgb(122, 122, 255);
}

.header-logo-div {
  display: flex;
  align-items: center;
}

