#root {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(204, 204, 204);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 20px;
	width:100%;
}

@media screen and (min-width:1000px) {
	.container {
		max-width: 1000px;
		margin-top: 40px;
		border-radius: 5%;
	}

}
